<h2>Đăng nhập</h2>
<form>
  <div>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" [(ngModel)]="email">
  </div>
  <div>
    <label for="password">Mật khẩu:</label>
    <input type="password" name="password" id="password" [(ngModel)]="password">
  </div>
  <button type="submit" (click)="loginWithEmail()">Đăng nhập bằng Email</button>
  <button type="button" (click)="loginWithFacebook()">Đăng nhập bằng Facebook</button>
  <button type="button" (click)="loginWithGoogle()">Đăng nhập bằng Google</button>
</form>
